*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: monospace;
    text-align: center;
    margin-top: 15vh;
    color: rgb(5, 99, 99);
}

.container{
    width: 40vh;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: #ccc;
}

.outputresult{
    margin-top: 10px;
    flex-basis: 90%;
    border-radius: 15px;
    text-align: center;
    background-color: #eee;
    font-family: monospace;
}

.label_container{
    margin-top: 10px;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}

.input_age{
    text-align: center;
    width: 20%;
    -moz-appearance:textfield;
    appearance:textfield;
    margin: 0 auto;
}

.baparence{
    width: 50px;
    height:50px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.obtener{
    background-color: green;
    color: white;
    cursor: pointer;
}
.borrar{
    background-color: red;
    color: white;
    cursor: pointer;
}



